@tailwind base;
@tailwind components;
@tailwind utilities;
.icon-btn {
  @apply w-9 h-9 rounded-full border flex items-center justify-center hover:bg-gray-100;
}

.badge-red {
  @apply text-xs bg-red-500 text-white px-2 py-1 rounded-full;
}

.badge-red-outline {
  @apply text-xs border border-red-500 text-red-500 px-2 py-1 rounded-full;
}
